$font__main: 'Roboto', sans-serif;
$font__secondary: 'Montserrat', sans-serif;
$font__third: 'Libre Baskerville', serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__special: 'Mr De Haviland', cursive;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__countdown: 'Prata', serif;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
