.header-account {
	@include font-size(1);
	position: relative;

	> a {
		white-space: nowrap;
		color: #000;
		@include font-size(23/16);
		display: flex;
		align-items: center;
		height: 100%;
		
		& > i {
			padding-left: 5px;
		}

		&:hover {
			text-decoration: none;
		}
	}

	.account-links {
		white-space: nowrap;
		position: absolute;
		top: calc( 50% + 49px );
		left: -30px;
		min-width: 180px;
		opacity: 0;
		z-index: 100;
		pointer-events: none;
		transition: top 0.35s;
		transform: scaleX(0);

		&:before {
			content: '';
			position: absolute;
			bottom: 100%;
			left: 0;
			right: 0;
			background-color: transparent;
			z-index: 999;
			height: 27px;
		}

		ul {
			text-align: left;
			list-style: none;
			margin: 0;
			padding: 16px 30px;
			background-color: #fff;
			border: 1px solid #d5d5d5;
		}

		li {
			padding: 4px 0;
			position: relative;
		}

		a {
			color: #999;

			&:hover {
				color: #000;
			}
		}
	}

	&:hover .account-links {
		opacity: 1;
		top: calc( 50% + 39px );
		transform: scaleX(1);
		pointer-events: initial;
	}

	.header-right-items & {
		&.last-child {
			.account-links {
				left: auto;
				right: -30px;
			}

			.submenu__arrow {
				left: auto;
				right: 30px;
			}
		}
	}

	.submenu__arrow {
		left: 40px;
	}
}