html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

.helendo-list {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		position: relative;
		padding-left: 15px;

		&:before {
			content: '\f0da';
			font-family: FontAweSome;
			position: absolute;
			left: 0;
			top: -2px;
		}
	}
}

.svg-icon svg {
	vertical-align: -0.125em;
	width: 1em;
	height: 1em;
	fill: currentcolor;
	display: inline-block;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.snptwdgt-container .snptwdgt-rtd__ftr {
	display: none;
}

@import 'blocks';
@import "vc-row";
@import "tables";
@import 'tabs';
@import "video-banner";
@import "icon-box";
@import "section-title";
@import "progressbar";
@import "images-modern";
@import "social";
@import "coundown";
@import 'woocommerce';
@import 'about-us';
@import 'banners-grid';
@import 'banner-large';
@import 'image-carousel';
@import 'banner-carousel';
@import 'latest-post';
@import 'button';
@import 'helendo-product';
@import 'newletter';
@import 'product-carousel';
@import 'instagram';
@import 'contact-form';